body {
    background-color: cadetblue;
    margin: 25px 50px 75px 100px;
}
p{
    font-size: 25px;
    color: navy;
    text-align: center;
}
h1{
    text-align: center;
    font-style: oblique;
    font-size: 80px;
    font-weight: bold;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 50px;
    text-align: center
}
ul li{
    text-align: center;
    font-size: 30px;
    color: navy;
}
h4{
    font-size: 50px;
    font-weight: bold;
}
div{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.border{
    border-style: dashed;
}
#underline{
    border-style: double;
}